.flex-container{
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 100px;
    height: 50px; 
    margin: 5px; 
    padding: 5px; 
}
.right{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
}
.forms{
    margin-right: 20px;
}
.left{
    margin: 20px;
    margin-left: 15pdx;
    padding: 5px;
}
.separator{
    margin-right: 15px;
}
nav{
    display: flex;
    justify-content: center;
}
.lists-header{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.lists-header li{
    margin: 0 20px;
    color: blue;
}
.nav-menu{
    margin: 0 20px;
}
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    display: block; 
    width: 100%;
    height: auto;
}
.red{
    color: red;
    font-size: 15px;
}
.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.match{
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-logo {
    max-width: 100px; 
    max-height: 100px; 
    width: 100%;
    height: auto;
    margin-left: 30px;
}

.logo-team {
    width: 150px;
}
.small-logo.large {
    max-width: 180px; 
    max-height: 160px; 
}
.match-predicted{
    background: blue;
    color: white;
    padding: 20px;
}
#scrollBtn {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
a{
    cursor: pointer;
}
.targets-menu{
    background: blue;
    color: white;
    padding: 30px;
}

#scrollBtn:focus {
    outline: none;
}
.sponsors-carousel{
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}
.sponsors{
    display: flex;
    animation: marquee 10s linear infinite;
}
.sponsors{
    margin-right: 20px;
    height: 100px;
}
@keyframes marquee {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); } 
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}